<ng-include src="'includes/headerAdminArea.html'" onload="selectedView='RESERVATIONS'"></ng-include>

<div class="container" ng-controller="AdminReservationsController">
    <div class="page-header" style="margin-top: 0;">
        <h1>Reservierungen</h1>
    </div>

    <form name="filterForm" novalidate class="form-horizontal" role="form">
        <fieldset>
            <legend>Filter</legend>
            <div class="form-group">
                <label for="filterCourtCategory" class="col-xs-2 control-label">Platzart</label>
                <div class="col-xs-3">
                    <select id="filterCourtCategory" name="filterCourtCategory" class="form-control"
                            ng-model="filterCourtCategory" ng-options="cc.name for cc in courtCategories" ng-change="selectCourtCategory()">
                        <option value="">Alle</option>
                    </select>
                </div>
                <label for="filterCourt" class="col-xs-2 control-label">Platz</label>
                <div class="col-xs-3">
                    <select id="filterCourt" name="filterCourt" class="form-control"
                            ng-model="filterCourt" ng-options="c.name for c in courts" ng-change="applyFilter()">
                        <option value="">Alle</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="filterDateFrom" class="col-xs-2 control-label">Datum von</label>
                <div class="col-xs-3">
                    <div class="input-group">
                        <input type="text" id="filterDateFrom" name="filterDateFrom" class="form-control" onkeypress="return false;" ng-change="applyFilter()"
                               ng-model="filterDateFrom" ng-trim="true" data-date-format="dd.mm.yyyy" my-datepicker/>
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-remove" ng-click="resetFilterDateFrom()" style="cursor: pointer"></i>
                            &nbsp;
                            <i class="glyphicon glyphicon-calendar" style="cursor: default"></i>
                        </span>

                    </div>
                </div>
                <label for="filterDateTo" class="col-xs-2 control-label">Datum bis</label>
                <div class="col-xs-3">
                    <div class="input-group">
                        <input type="text" id="filterDateTo" name="filterDateTo" class="form-control" onkeypress="return false;" ng-change="applyFilter()"
                               ng-model="filterDateTo" ng-trim="true" data-date-format="dd.mm.yyyy" my-datepicker/>
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-remove" ng-click="resetFilterDateTo()" style="cursor: pointer"></i>
                            &nbsp;
                            <i class="glyphicon glyphicon-calendar" style="cursor: default"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="filterCustomer" class="col-xs-2 control-label">Kunde</label>
                <div class="col-xs-3">
                    <input id="filterCustomer" type="text" name="filterCustomer" ng-model="filterCustomer" ng-trim="true" ng-change="applyFilter()" class="form-control"/>
                </div>
                <label for="filterComment" class="col-xs-2 control-label">Info</label>
                <div class="col-xs-3">
                    <input id="filterComment" type="text" name="filterComment" ng-model="filterComment" ng-trim="true" ng-change="applyFilter()" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="filterPaid" class="col-xs-2 control-label">Bezahlstatus</label>
                <div class="col-xs-3">
                    <select id="filterPaid" name="filterPaid" class="form-control" ng-model="filterPaid" ng-change="applyFilter()">
                        <option value="">Alle</option>
                        <option value="YES">Ja</option>
                        <option value="NO">Nein</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="spacer25"></div>

    <table id="reservationsTable" class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Platzart</th>
            <th>Platz</th>
            <th>Zeit</th>
            <th>Kunde</th>
            <th>Info</th>
            <th>Preis</th>
            <th><b>Aktionen</b></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="res in reservations">
            <td>{{res.id}}</td>
            <td>{{res.courtCategoryName}}</td>
            <td>{{res.courtName}}</td>
            <td>{{dateService.formatAsTimeSpanString(res.fromDate, res.toDate)}}</td>
            <td>{{getDisplayUserData(res)}}</td>
            <td><abbr ng-show="res.comment.length > 0" title="{{res.comment}}"><span class="glyphicon glyphicon-flag"></span></abbr></td>
            <td>{{res.price | currency:'€ '}}</td>
            <td>
                <button type="button" ng-click="openCancelReservationDialog(res)" class="btn btn-xs btn-danger" ng-show="!dateService.isBeforeNowTimeStamp(res.fromDate)">
                    <span class="glyphicon glyphicon-remove"></span> Stornieren
                </button>
                <button type="button" ng-click="openPayReservationDialog(res);" class="btn btn-xs btn-success" ng-show="!res.paid">
                    <span class="glyphicon glyphicon-euro"></span> Bezahlen
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="cancelModal" class="modal fade">
        <div class="modal-dialog small-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Reservierung stornieren</h2>
                </div>
                <div class="modal-body">
                    Sind sie sicher das sie diese Reservierung unwiderruflich stornieren wollen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="cancelSelectedReservation()">Stornieren</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="payModal" class="modal fade">
        <div class="modal-dialog payment-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Buchung bezahlen</h2>
                </div>
                <div class="modal-body">
                    <form name="paymentOptionForm" novalidate class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Preis</label>
                            <div class="col-xs-2 form-control-static" ng-class="{'strikeText': overridePrice}">
                                {{selectedReservation.price | currency:'€ '}}
                            </div>
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="overridePrice" ng-change="changeOverridePrice()"/> anpassen
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-4" ng-show="overridePrice">
                                <input type="text" name="customPrice" class="form-control" my-decimal-separator-converter
                                       my-focus-on="overridePrice" ng-model="customPrice" ng-trim="true" ng-pattern="/^[0-9]+(|[\.,][0-9]|[\.,][0-9][0-9])$/" required />
                                <div class="error" ng-show="paymentOptionForm.customPrice.$error.pattern">Ungültiger Preis</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Zahlungsart</label>
                            <div class="col-xs-8">
                                <div class="radio" ng-repeat="paymentOption in paymentOptions">
                                    <label>
                                        <input type="radio" name="formPO" ng-model="$parent.selectedPaymentOptionId" ng-value="paymentOption.id" ng-change="alert('xx')">
                                        {{paymentOption.name}}
                                    </label>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="paySelectedReservation()"  ng-disabled="paymentOptionForm.$invalid">Bezahlen</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
