<ng-include src="'includes/headerConfigurator.html'"></ng-include>

<div class="container" ng-controller="ConfigureRegistrationController">
    <ng-include src="'includes/configuratorSteps.html'" onload="stepNr=4"></ng-include>

    <div class="page-header" style="margin-top: 0;">
        <h1>Registrierung</h1>
    </div>

    <p>
        Ordnen Sie Ihrem konfigurierten CourtPicker einen Benutzer zu und schon sind sie online.
    </p>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRegistrationType" ng-model="registrationType" ng-value="registrationTypes.NEWUSER">
            Ich möchte mich registrieren
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRegistrationType" ng-model="registrationType" ng-value="registrationTypes.EXISTINGUSER">
            Ich habe bereits einen CourtPicker Account
        </label>
    </div>

    <div class="spacer20"></div>

    <div ng-show="registrationType == registrationTypes.NEWUSER">
        <form name="newUserForm" class="form-horizontal" novalidate>
            <fieldset>
                <legend>CourtPicker Registrierung</legend>
                {{errorMessageNewUser}}
                <div class="form-group">
                    <label class="col-xs-2 control-label">Vorname</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.firstName" name="firstName" class="form-control" tabindex="1" required />
                    </div>
                    <label class="col-xs-2 control-label">Telefonnummer</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.phoneNumber" name="phoneNumber" class="form-control" tabindex="7" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Nachname</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.lastName" name="lastName" class="form-control" tabindex="2" required />
                    </div>
                    <label class="col-xs-2 control-label">Straße</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.street" name="street" class="form-control" tabindex="8" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">E-Mail</label>
                    <div class="col-xs-3">
                        <input type="email" ng-model="formNewUser.email" name="email" class="form-control" tabindex="3" required my-validate-unique-user-email/>
                        <div class="error" ng-show="newUserForm.email.$error.email && newUserForm.email.$dirty">E-Mail Adresse ungütlig</div>
                        <div class="error" ng-show="newUserForm.email.$error.unique && newUserForm.email.$dirty">E-Mail vergeben</div>
                    </div>
                    <label class="col-xs-2 control-label">PLZ</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.zipCode" name="zipCode" class="form-control" tabindex="9" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Benutzername</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.userName" name="userName" class="form-control" tabindex="4" required my-validate-unique-user-name/>
                        <div class="error" ng-show="newUserForm.userName.$error.unique && newUserForm.userName.$dirty">Username vergeben</div>
                    </div>
                    <label class="col-xs-2 control-label">Stadt</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.city" name="city" class="form-control" tabindex="10" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Passwort</label>
                    <div class="col-xs-3">
                        <input type="password" ng-model="formNewUser.password" class="form-control" name="password" tabindex="5" required />
                    </div>
                    <label class="col-xs-2 control-label">Land</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.country" name="country" class="form-control" tabindex="11" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Passwort bestätigen</label>
                    <div class="col-xs-3">
                        <input type="password" ng-model="formNewUser.passwordConfirmation" class="form-control" name="passwordConfirmation" tabindex="6" my-pw-match password-match="formNewUser.password" />
                        <div class="error" ng-show="newUserForm.passwordConfirmation.$invalid && newUserForm.passwordConfirmation.$dirty">Passwörter ungleich</div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div ng-show="registrationType == registrationTypes.EXISTINGUSER">
        <form name="existingUserForm" class="form-horizontal" novalidate>
            <fieldset>
                <legend>Courtpicker Account</legend>
                {{errorMessageExistingUser}}
                <div class="form-group">
                    <label for="username" class="col-xs-2 control-label">Benutzername</label>
                    <div class="col-xs-3">
                        <input id="username" type="text" name="username" ng-model="formExistingUser.userName"
                               ng-trim="true" required my-focus-on="registrationType == registrationTypes.EXISTINGUSER" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-xs-2 control-label">Passwort</label>
                    <div class="col-xs-3">
                        <input id="password" type="password" name="password" ng-model="formExistingUser.password"
                               ng-trim="true" required class="form-control" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="page-header" style="margin-top: 0;">
        <h1>30 Tage kostenlos testen</h1>
    </div>
    <p>
        Sie können CourtPicker 30 Tage lang gratis testen. <br/>
        Danach würde Ihre konfigurierte Instanz {{monthlyFee}}€ pro Monat kosten (<a href="" ng-click="showPriceTable()">Preistabelle</a>). <br/>
    </p>
    <div class="spacer15"></div>
    <p>
        <label>
            <input type="checkbox" ng-model="agbsAccepted">
            Ich akzeptiere die <a href="" ng-click="showAgbModal()">AGBs</a> und die <a href="" ng-click="showDatasecurityModal()">Datenschutzerklärung</a>
        </label>
    </p>

    <div class="spacer20"></div>
    <a href="#/configureDesign" class="btn btn-lg btn-default">Zurück</a>
    <button class="btn btn-lg btn-primary" ng-disabled="!isNextButtonEnabled()" ng-click="processRegistration()">CourtPicker starten</button>
    <div class="spacer10"></div>
</div>

<div id="priceTableModal" class="modal fade cpModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">CourtPicker Preise</h2>
            </div>
            <div class="modal-body">
                <p>
                    Je nach Platzanzahl bestimmt sich der Preis für Deinen CourtPicker. Wähle in der folgenden Tabelle die Platzanzahl aus,
                    die Du mit CourtPicker verwalten willst (egal welche Platzkategorie). In der Zelle unter der Platzanzahl findest Du dann Deinen Preis.
                    <br>
                    <br>
                </p>
                <table class="table table-hover">
                    <tr class="active">
                        <th>Platzanzahl
                        </th>
                        <th>1
                        </th>
                        <th>2
                        </th>
                        <th>3
                        </th>
                        <th>4
                        </th>
                        <th>5
                        </th>
                        <th>6
                        </th>
                        <th>7
                        </th>
                        <th>8
                        </th>
                        <th>9
                        </th>
                        <th>10
                        </th>
                    </tr>
                    <tr>
                        <td>Preis
                        </td>
                        <td>20 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>24 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>28 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>32 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>36 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>42 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>48 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>54 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>60 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>66 <font style="font-size:10px;">&euro;</font>
                        </td>
                    </tr>
                    <tr class="active">
                        <th>Platzanzahl
                        </th>
                        <th>11
                        </th>
                        <th>12
                        </th>
                        <th>13
                        </th>
                        <th>14
                        </th>
                        <th>15
                        </th>
                        <th>16
                        </th>
                        <th>17
                        </th>
                        <th>18
                        </th>
                        <th>19
                        </th>
                        <th>20
                        </th>
                    </tr>
                    <tr>
                        <td>Preis
                        </td>
                        <td>74 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>82 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>90 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>98 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>106 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>114 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>122 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>130 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>138 <font style="font-size:10px;">&euro;</font>
                        </td>
                        <td>146 <font style="font-size:10px;">&euro;</font>
                        </td>
                    </tr>
                </table>
                <p>
                    Alle unsere Preisangaben sind Nettopreise und verstehen sich zzgl. UmSt.
                    Es fallen keine zusätzlichen Domain-, Hosting- oder Providerkosten an.
                    Laufende Produktwartung ist inkludiert.
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="agbModal" class="modal fade cpModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="600" style="border: 0;" name="agb" id="agb" src="/agb.htm?textonly=true">
                    &lt;p&gt;Ihr Browser kann leider keine eingebetteten Frames anzeigen&lt;/p&gt;
                </iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="datasecurityModal" class="modal fade cpModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="600" style="border: 0;" name="agb" id="agb" src="/datasecuritystatement.htm?textonly=true">
                    &lt;p&gt;Ihr Browser kann leider keine eingebetteten Frames anzeigen&lt;/p&gt;
                </iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
