<ng-include src="'includes/headerConfigurator.html'"></ng-include>

<div class="container" ng-controller="ConfigureRegistrationController">
    <ng-include src="'includes/configuratorSteps.html'" onload="stepNr=4"></ng-include>

    <div class="page-header" style="margin-top: 0;">
        <h1>Registrierung</h1>
    </div>

    <p>
        Ordnen Sie Ihrem konfigurierten CourtPicker einen Benutzer zu und schon sind sie online.
    </p>

    <div class="radio">
        <label>
            <input type="radio" name="optionsRegistrationType" ng-model="registrationType" ng-value="registrationTypes.NEWUSER">
            Ich möchte mich registrieren
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRegistrationType" ng-model="registrationType" ng-value="registrationTypes.EXISTINGUSER">
            Ich habe bereits einen CourtPicker Account
        </label>
    </div>

    <div class="spacer20"></div>

    <div ng-show="registrationType == registrationTypes.NEWUSER">
        <form name="newUserForm" class="form-horizontal" novalidate>
            <fieldset>
                <legend>CourtPicker Registrierung</legend>
                {{errorMessageNewUser}}
                <div class="form-group">
                    <label class="col-xs-2 control-label">Vorname</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.firstName" name="firstName" class="form-control" tabindex="1" required />
                    </div>
                    <label class="col-xs-2 control-label">Telefonnummer</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.phoneNumber" name="phoneNumber" class="form-control" tabindex="7" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Nachname</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.lastName" name="lastName" class="form-control" tabindex="2" required />
                    </div>
                    <label class="col-xs-2 control-label">Straße</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.street" name="street" class="form-control" tabindex="8" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">E-Mail</label>
                    <div class="col-xs-3">
                        <input type="email" ng-model="formNewUser.email" name="email" class="form-control" tabindex="3" required my-validate-unique-user-email/>
                        <div class="error" ng-show="newUserForm.email.$error.email && newUserForm.email.$dirty">E-Mail Adresse ungütlig</div>
                        <div class="error" ng-show="newUserForm.email.$error.unique && newUserForm.email.$dirty">E-Mail vergeben</div>
                    </div>
                    <label class="col-xs-2 control-label">PLZ</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.zipCode" name="zipCode" class="form-control" tabindex="9" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Benutzername</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.userName" name="userName" class="form-control" tabindex="4" required my-validate-unique-user-name/>
                        <div class="error" ng-show="newUserForm.userName.$error.unique && newUserForm.userName.$dirty">Username vergeben</div>
                    </div>
                    <label class="col-xs-2 control-label">Stadt</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.city" name="city" class="form-control" tabindex="10" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Passwort</label>
                    <div class="col-xs-3">
                        <input type="password" ng-model="formNewUser.password" class="form-control" name="password" tabindex="5" required />
                    </div>
                    <label class="col-xs-2 control-label">Land</label>
                    <div class="col-xs-3">
                        <input type="text" ng-model="formNewUser.country" name="country" class="form-control" tabindex="11" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Passwort bestätigen</label>
                    <div class="col-xs-3">
                        <input type="password" ng-model="formNewUser.passwordConfirmation" class="form-control" name="passwordConfirmation" tabindex="6" my-pw-match password-match="formNewUser.password" />
                        <div class="error" ng-show="newUserForm.passwordConfirmation.$invalid && newUserForm.passwordConfirmation.$dirty">Passwörter ungleich</div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div ng-show="registrationType == registrationTypes.EXISTINGUSER">
        <form name="existingUserForm" class="form-horizontal" novalidate>
            <fieldset>
                <legend>Courtpicker Account</legend>
                {{errorMessageExistingUser}}
                <div class="form-group">
                    <label for="username" class="col-xs-2 control-label">Benutzername</label>
                    <div class="col-xs-3">
                        <input id="username" type="text" name="username" ng-model="formExistingUser.userName"
                               ng-trim="true" required my-focus-on="registrationType == registrationTypes.EXISTINGUSER" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-xs-2 control-label">Passwort</label>
                    <div class="col-xs-3">
                        <input id="password" type="password" name="password" ng-model="formExistingUser.password"
                               ng-trim="true" required class="form-control" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="page-header" style="margin-top: 0;">
        <h1>30 Tage kostenlos testen</h1>
    </div>
    <p>
        Sie können CourtPicker 30 Tage lang gratis testen. <br/>
        Danach würde Ihre konfigurierte Instanz {{monthlyFee}}€ pro Monat kosten (<a href="" ng-click="showPriceTable()">Preistabelle</a>). <br/>
    </p>

    <div class="spacer20"></div>
    <a href="#/configureDesign" class="btn btn-lg btn-default">Zurück</a>
    <button class="btn btn-lg btn-primary" ng-disabled="!isNextButtonEnabled()" ng-click="processRegistration()">CourtPicker starten</button>
    <div class="spacer10"></div>
</div>

<div id="priceTableModal" class="modal fade cpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">CourtPicker Preise</h2>
            </div>
            <div class="modal-body">
                TO BE FILLED
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
