<ng-include src="'includes/headerCourtpicker.html'"></ng-include>

<div ng-controller="ReservationController">
    <div id="mainframe">
        <div id="courtTypeSelect">
            <ul>
                <li ng-repeat="cc in courtCategories"
                    ng-class="{selectedCourtType: (cc == selectedCourtCategory)}" ng-click="selectCourtCategory(cc)">
                    {{cc.name}}
                </li>
            </ul>
        </div>

        <div id="paddedContent">
            <div id="reservationViewSelection">
                <button type="button" style="float: left;" ng-click="selectedView = viewTypes.WEEKVIEW; loadUtilization();"
                        ng-class="{'buttonLight': selectedView != viewTypes.WEEKVIEW, 'buttonLightSelected': selectedView == viewTypes.WEEKVIEW}">
                    Wochenübersicht
                </button>
                <button type="button" style="float: right;" ng-click="selectViewCourtView()"
                        ng-class="{'buttonLight': selectedView != viewTypes.COURTVIEW, 'buttonLightSelected': selectedView == viewTypes.COURTVIEW}">
                    Tagesdetail
                </button>
                <button type="button" class="button" style="margin-left: 125px;" ng-click="previousDate()">&lt;</button>
                <input type="text" style="text-align: center;" ng-model="selectedDate" ng-change="loadUtilization()"
                       data-date-format="dd.mm.yyyy" my-datepicker/>
                <button type="button" class="button" ng-click="nextDate()">&gt;</button>
                <div style="clear: both;"></div>
            </div>

            <div class="courtSelect">
                <div class="courtSelectRight" ng-show="subscriptions.length > 0">
                    <button class="button" ng-click="showSubscriptionModal()" ng-disabled="!userInfo.isLoggedIn">Abo buchen</button>
                </div>

                <div class="courtSelectLeft" ng-show="selectedView == viewTypes.WEEKVIEW">
                    <b>Plätze:</b> &nbsp;&nbsp;
                    <select ng-model="weekViewSelectedCourt" ng-options="court.name for court in courts" ng-change="selectWeekViewCourt()"
                            class="minwidth-100">
                        <option value="">Alle</option>
                    </select>
                </div>

                <div class="courtSelectLeft" ng-show="selectedView == viewTypes.COURTVIEW">
                    <div style="float: left;"><b>Courts:</b></div>
                    <div style="margin-left: 65px;">
                        <button ng-repeat="court in courts" type="button"
                                ng-class="{'buttonLight': !isCourtSelectedInCourtView(court), 'buttonLightSelected': isCourtSelectedInCourtView(court)}"
                                ng-click="toggleCourtViewCourtSelection(court)" style="margin-right: 15px; margin-bottom: 3px;">
                            {{court.name}}
                        </button>
                    </div>
                </div>

                <div style="clear: both;"></div>
            </div>

            <div ng-repeat="utilization in utilizations" class="reservation-column">
                <div class="time-column" ng-if="$index % 7 == 0">
                    <div class="not-selected-day-label">&nbsp;</div>
                    <div ng-repeat="timeSlot in timeSlots">
                        <div class="times">{{timeSlot.fromTime}}</div>
                        <div class="timeslot-spacer"></div>
                    </div>
                </div>

                <div ng-class="{'day-column-withtime': $index % 7 == 0, 'day-column': $index % 7 > 0}">
                    <div ng-class="{'selected-day-label': utilization.isCurrentDate,
                                    'not-selected-day-label': !utilization.isCurrentDate}">
                        {{utilization.name}}
                    </div>
                    <div ng-repeat="timeSlot in utilization.timeSlots">
                        <div ng-class="{'past-color': timeSlot.isPast,
                                        'reserved-color': !timeSlot.isPast && timeSlot.occupied,
                                        'notreserved-color': !timeSlot.isPast && !timeSlot.occupied && timeSlot.utilization < 0.33,
                                        'one-third-reserved-color': !timeSlot.isPast && !timeSlot.occupied && timeSlot.utilization >= 0.33 && timeSlot.utilization < 0.66,
                                        'two-third-reserved-color': !timeSlot.isPast && !timeSlot.occupied && timeSlot.utilization >= 0.66,
                                        'notreserved-color-clickable': !timeSlot.isPast && !timeSlot.occupied && userInfo.isLoggedIn}"
                             ng-click="clickTimeSlot(timeSlot, utilization.timeSlots, utilization.date)">
                            <span ng-show="userInfo.hasAuthority('ADMIN') && !timeSlot.isPast && timeSlot.occupyType == 'SUBSCRIPTION'" class="glyphicon glyphicon-repeat" title="{{timeSlot.caption}}"></span>
                            <span ng-show="userInfo.hasAuthority('ADMIN') && !timeSlot.isPast" title="{{timeSlot.caption}}">{{timeSlot.caption}}</span>
                        </div>
                        <div ng-class="{'timeslot-spacer': timeSlot.maxSlots <= 1 || timeSlot.isPast,
                                        'timeslot-spacer-two-reservable': timeSlot.maxSlots > 1 && !timeSlot.isPast}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div id="footer">
        Das ist mein supertoller footer-text <a href="">testlink</a>
    </div>
    -->

    <div id="reservationModal" class="modal fade cpModal">
        <div class="modal-dialog reservation-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Platz buchen</h2>
                </div>
                <div class="modal-body">
                    <form name="reservationForm">
                        <div class="row">
                            <div class="col-xs-2"><b>Datum</b></div>
                            <div class="col-xs-2">{{scopeDate}}</div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Platz</b></div>
                            <div class="col-xs-6">
                                <select ng-model="freeCourtSelected" ng-options="court.name for court in freeCourts" ng-change="selectFreeCourt(court)" class="minwidth-100"></select>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Von</b></div>
                            <div class="col-xs-4">
                                <button type="button" class="icononly-button" ng-click="setFromTimeEarlier()" ng-disabled="!fromTimeEarlierButtonEnabled()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                {{selectedTimeSlots[0].fromTime}}
                                <button type="button" class="icononly-button" ng-click="setFromTimeLater()" ng-disabled="!fromTimeLaterButtonEnabled()"><span class="glyphicon glyphicon-chevron-right"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><b>Bis</b></div>
                            <div class="col-xs-4">
                                <button type="button" class="icononly-button" ng-click="setToTimeEarlier()" ng-disabled="!toTimeEarlierButtonEnabled()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                {{selectedTimeSlots[selectedTimeSlots.length-1].toTime}}
                                <button type="button" class="icononly-button" ng-click="setToTimeLater()" ng-disabled="!toTimeLaterButtonEnabled()"><span class="glyphicon glyphicon-chevron-right"></span></button>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Preis</b></div>
                            <div class="col-xs-2" ng-class="{'strikeText': overrideReservationPrice}">{{calculatedReservationPrice|currency:'€ '}}</div>
                            <div class="col-xs-2" style="padding: 0;" ng-show="userInfo.hasAuthority('ADMIN')">
                                <label>
                                    <input type="checkbox" ng-model="overrideReservationPrice" ng-change="changeReservationPriceOverride()" /> überschr.
                                </label>
                            </div>
                            <div class="col-xs-4" ng-show="overrideReservationPrice">
                                <input type="text" ng-model="reservationPrice" name="overrideReservationPrice" my-decimal-separator-converter
                                       ng-pattern="/^[0-9]+(|[\.,][0-9]|[\.,][0-9][0-9])$/" required style="width: 100%"/>
                                <div class="error" ng-show="reservationForm.overrideReservationPrice.$error.pattern">Ungültiger Preis</div>
                            </div>
                        </div>
                        <div class="row" ng-show="userInfo.hasAuthority('ADMIN')">
                            <div class="spacer10"></div>
                            <div class="col-xs-2"><b>Kunde</b></div>
                            <div class="col-xs-8" style="width: 422px">
                                <input type="text" ng-model="reservationCustomerName" size="50" name="reservationCustomer"
                                       typeahead="user as user.firstName + ' ' + user.lastName + ' (' + user.userName + '), ' + user.email for user in users | userFilter: $viewValue"
                                       typeahead-on-select="selectReservationCustomer()" style="width: 93%;"
                                       ng-disabled="reservationCustomerSelected" ng-required="userInfo.hasAuthority('ADMIN')" />
                                <span class="glyphicon glyphicon-remove" style="cursor: default" ng-show="reservationCustomerSelected" ng-click="deselectReservationCustomer()"></span>
                            </div>
                        </div>
                        <div class="row" ng-show="userInfo.hasAuthority('ADMIN') && !reservationCustomerSelected && !reservationForm.reservationCustomer.$error.required">
                            <div class="spacer5"></div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-4">
                                <label>
                                    <input type="checkbox" ng-model="createReservationCustomer" ng-change="changeReservationCustomer()"/> Benutzer anlegen
                                </label>
                            </div>
                            <div class="col-xs-4" ng-show="createReservationCustomer">
                                <input type="email" ng-model="createReservationCustomerEmail" name="createReservationCustomerEmail" ng-required="createReservationCustomer" placeholder="E-Mail" style="width: 100%;" />
                                <div class="error" ng-show="reservationForm.createReservationCustomerEmail.$error.email && reservationForm.createReservationCustomerEmail.$dirty">Ungütlige E-Mail Adresse</div>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Kommentar</b></div>
                            <div class="col-xs-8" style="width: 422px;">
                                <textarea ng-model="comment" name="comment" rows="2" style="width: 100%"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" style="width: 400px;" ng-click="makeSingleReservation()" ng-disabled="reservationForm.$invalid">Buchen</button>
                    <button type="button" class="button" style="width: 110px;" data-dismiss="modal">Abbrechen</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="subscriptionReservationModal" class="modal fade cpModal">
        <div class="modal-dialog reservation-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Abo buchen</h2>
                </div>
                <div class="modal-body">
                    <form name="subscriptionReservationForm">
                        <div class="row">
                            <div class="col-xs-2"><b>Abo</b></div>
                            <div class="col-xs-8">
                                <button ng-repeat="subscription in subscriptions" type="button"
                                        ng-class="{'buttonLight': selectedSubscription != subscription, 'buttonLightSelected': selectedSubscription == subscription}"
                                        ng-click="selectSubscription(subscription)" style="margin-right: 15px;">
                                    {{subscription.name}}
                                </button>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Von</b></div>
                            <div class="col-xs-4">{{selectedSubscription.periodStart}} - {{selectedSubscription.periodEnd}}</div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Stunden</b></div>
                            <div class="col-xs-2">
                                {{subscriptionUnits * selectedCourtCategory.bookingUnit / 60}}
                                &nbsp;
                                <button type="button" class="icononly-button" ng-click="increaseSubscriptionUnits()"><span class="glyphicon glyphicon-plus"></span></button>
                                <button type="button" class="icononly-button" ng-click="decreaseSubscriptionUnits()" ng-disabled="subscriptionUnits < 2"><span class="glyphicon glyphicon-minus"></span></button>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Wochentag</b></div>
                            <div class="col-xs-4">
                                <select ng-model="selectedSubWeekDay" ng-change="selectSubWeekDay()" class="minwidth-200" required>
                                    <option value="0">Montag</option>
                                    <option value="1">Dienstag</option>
                                    <option value="2">Mittwoch</option>
                                    <option value="3">Donnerstag</option>
                                    <option value="4">Freitag</option>
                                    <option value="5">Samstag</option>
                                    <option value="6">Sonntag</option>
                                </select>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Startzeit</b></div>
                            <div class="col-xs-4"><select ng-model="selectedSubStartTime" ng-options="startTime for startTime in availableSubStartTimes" ng-change="selectSubStartTime(selectedSubStartTime)" class="minwidth-200" required></select></div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Platz</b></div>
                            <div class="col-xs-4"><select ng-model="selectedSubCourt" ng-options="court.name for court in availableSubCourts" ng-change="selectSubCourt()" class="minwidth-200" required></select></div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Preis</b></div>
                            <div class="col-xs-2" ng-class="{'strikeText': overrideSubReservationPrice}">{{calculatedSubReservationPrice|currency:'€ '}}</div>
                            <div class="col-xs-2" ng-show="userInfo.hasAuthority('ADMIN')" style="padding: 0;">
                                <label>
                                    <input type="checkbox" ng-model="overrideSubReservationPrice" ng-change="changeSubReservationPriceOverride()"/> überschr.
                                </label>
                            </div>
                            <div class="col-xs-4" ng-show="overrideSubReservationPrice">
                                <input type="text" ng-model="subReservationPrice" name="overrideSubReservationPrice" my-decimal-separator-converter
                                       ng-pattern="/^[0-9]+(|[\.,][0-9]|[\.,][0-9][0-9])$/" ng-required="userInfo.hasAuthority('ADMIN') && overrideSubReservationPrice" style="width: 100%;" />
                                <span class="error" ng-show="subscriptionReservationForm.overrideSubReservationPrice.$error.pattern">Ungültiger Preis</span>
                            </div>
                        </div>
                        <div class="row" ng-show="userInfo.hasAuthority('ADMIN')">
                            <div class="spacer10"></div>
                            <div class="col-xs-2"><b>Kunde</b></div>
                            <div class="col-xs-8" style="width: 422px">
                                <input type="text" ng-model="subReservationCustomerName" name="subReservationCustomer"
                                       typeahead="user as user.firstName + ' ' + user.lastName + ' (' + user.userName + '), ' + user.email for user in users | userFilter: $viewValue"
                                       typeahead-on-select="selectSubReservationCustomer()"
                                       ng-disabled="subReservationCustomerSelected" ng-required="userInfo.hasAuthority('ADMIN')" style="width: 93%;" />
                                <span class="glyphicon glyphicon-remove" style="cursor: default" ng-show="subReservationCustomerSelected" ng-click="deselectSubReservationCustomer()"></span>
                            </div>
                        </div>
                        <div class="row" ng-show="userInfo.hasAuthority('ADMIN') && !subReservationCustomerSelected && !subscriptionReservationForm.subReservationCustomer.$error.required">
                            <div class="spacer5"></div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-4">
                                <label>
                                    <input type="checkbox" ng-model="createSubReservationCustomer" ng-change="changeSubReservationCustomer()"/> Benutzer anlegen
                                </label>
                            </div>
                            <div class="col-xs-4" ng-show="createSubReservationCustomer">
                                <input type="email" ng-model="createSubReservationCustomerEmail" name="createSubReservationCustomerEmail" ng-required="createSubReservationCustomer" placeholder="E-Mail" style="width: 100%;"/>
                                <span class="error" ng-show="subscriptionReservationForm.createSubReservationCustomerEmail.$error.email && subscriptionReservationForm.createSubReservationCustomerEmail.$dirty">Ungültige E-Mail Adresse</span>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Kommentar</b></div>
                            <div class="col-xs-8" style="width: 422px;">
                                <textarea ng-model="subComment" name="comment" rows="2" style="width: 100%;"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" style="width: 400px;" ng-click="makeSubscriptionReservation()" ng-disabled="subscriptionReservationForm.$invalid">Buchen</button>
                    <button type="button" class="button" style="width: 110px;" data-dismiss="modal">Abbrechen</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
