<ng-include src="'includes/headerCourtpicker.html'"></ng-include>

<div ng-controller="ReservationController">
    <div id="mainframe">
        <div id="courtTypeSelect">
            <ul>
                <li ng-repeat="cc in courtCategories"
                    ng-class="{selectedCourtType: (cc == selectedCourtCategory)}" ng-click="selectCourtCategory(cc)">
                    {{cc.name}}
                </li>
            </ul>
        </div>

        <div id="paddedContent">
            <div id="reservationViewSelection">
                <button type="button" style="float: left;" ng-click="selectedView = viewTypes.WEEKVIEW; loadUtilization();"
                        ng-class="{'buttonLight': selectedView != viewTypes.WEEKVIEW, 'buttonLightSelected': selectedView == viewTypes.WEEKVIEW}">
                    Wochenübersicht
                </button>
                <button type="button" style="float: right;" ng-click="selectViewCourtView()"
                        ng-class="{'buttonLight': selectedView != viewTypes.COURTVIEW, 'buttonLightSelected': selectedView == viewTypes.COURTVIEW}">
                    Tagesdetail
                </button>
                <button type="button" class="button" style="margin-left: 125px;" ng-click="previousDate()">&lt;</button>
                <input type="text" style="text-align: center;" ng-model="selectedDate" ng-change="loadUtilization()"
                       data-date-format="dd.mm.yyyy" my-datepicker/>
                <button type="button" class="button" ng-click="nextDate()">&gt;</button>
                <div style="clear: both;"></div>
            </div>

            <div class="courtSelect">
                <div class="courtSelectRight" ng-show="subscriptions.length > 0">
                    <button class="button" ng-click="showSubscriptionModal()" ng-disabled="!userInfo.isLoggedIn">Abo buchen</button>
                </div>

                <div class="courtSelectLeft" ng-show="selectedView == viewTypes.WEEKVIEW">
                    <b>Plätze:</b> &nbsp;&nbsp;
                    <select ng-model="weekViewSelectedCourt" ng-options="court.name for court in courts" ng-change="selectWeekViewCourt()"
                            class="minwidth-100">
                        <option value="">Alle</option>
                    </select>
                </div>

                <div class="courtSelectLeft" ng-show="selectedView == viewTypes.COURTVIEW">
                    <b>Courts:</b> &nbsp;&nbsp;
                    <button ng-repeat="court in courts" type="button"
                            ng-class="{'buttonLight': !isCourtSelectedInCourtView(court), 'buttonLightSelected': isCourtSelectedInCourtView(court)}"
                            ng-click="toggleCourtViewCourtSelection(court)" style="margin-right: 15px;">
                        {{court.name}}
                    </button>
                </div>

                <div style="clear: both;"></div>
            </div>

            <div class="time-column">
                <div class="not-selected-day-label">&nbsp;</div>
                <div ng-repeat="timeSlot in timeSlots">
                    <div class="times">{{timeSlot.fromTime}}</div>
                    <div class="timeslot-spacer"></div>
                </div>
            </div>

            <div class="day-column" ng-repeat="utilization in utilizations">
                <div ng-class="{'selected-day-label': utilization.isCurrentDate,
                                'not-selected-day-label': !utilization.isCurrentDate}">
                    {{utilization.name}}
                </div>
                <div ng-repeat="timeSlot in utilization.timeSlots">
                    <div ng-class="{'past-color': timeSlot.isPast,
                                    'reserved-color': !timeSlot.isPast && timeSlot.occupied,
                                    'notreserved-color': !timeSlot.isPast && !timeSlot.occupied && timeSlot.utilization < 0.33,
                                    'one-third-reserved-color': !timeSlot.isPast && !timeSlot.occupied && timeSlot.utilization >= 0.33 && timeSlot.utilization < 0.66,
                                    'two-third-reserved-color': !timeSlot.isPast && !timeSlot.occupied && timeSlot.utilization >= 0.66,
                                    'notreserved-color-clickable': !timeSlot.isPast && !timeSlot.occupied && userInfo.isLoggedIn}"
                         ng-click="clickTimeSlot(timeSlot, utilization.timeSlots, utilization.date)">
                        <span ng-show="userInfo.hasAuthority('ADMIN') && !timeSlot.isPast && timeSlot.occupyType == 'SUBSCRIPTION'" class="glyphicon glyphicon-repeat" title="{{timeSlot.caption}}"></span>
                        <span ng-show="userInfo.hasAuthority('ADMIN') && !timeSlot.isPast" title="{{timeSlot.caption}}">{{timeSlot.caption}}</span>
                    </div>
                    <div ng-class="{'timeslot-spacer': timeSlot.maxSlots <= 1 || timeSlot.isPast,
                                    'timeslot-spacer-two-reservable': timeSlot.maxSlots > 1 && !timeSlot.isPast}"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        Das ist mein supertoller footer-text <a href="">testlink</a>
    </div>

    <div id="reservationModal" class="modal fade cpModal">
        <div class="modal-dialog reservation-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Platz buchen</h2>
                </div>
                <div class="modal-body">
                    <form name="reservationForm">
                        <div class="row">
                            <div class="col-xs-2"><b>Datum</b></div>
                            <div class="col-xs-2">{{scopeDate}}</div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Platz</b></div>
                            <div class="col-xs-6">
                                <select ng-model="freeCourtSelected" ng-options="court.name for court in freeCourts" ng-change="selectFreeCourt(court)" class="minwidth-100"></select>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Von</b></div>
                            <div class="col-xs-4">
                                <button type="button" class="icononly-button" ng-click="setFromTimeEarlier()" ng-disabled="!fromTimeEarlierButtonEnabled()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                {{selectedTimeSlots[0].fromTime}}
                                <button type="button" class="icononly-button" ng-click="setFromTimeLater()" ng-disabled="!fromTimeLaterButtonEnabled()"><span class="glyphicon glyphicon-chevron-right"></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><b>Bis</b></div>
                            <div class="col-xs-4">
                                <button type="button" class="icononly-button" ng-click="setToTimeEarlier()" ng-disabled="!toTimeEarlierButtonEnabled()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                {{selectedTimeSlots[selectedTimeSlots.length-1].toTime}}
                                <button type="button" class="icononly-button" ng-click="setToTimeLater()" ng-disabled="!toTimeLaterButtonEnabled()"><span class="glyphicon glyphicon-chevron-right"></span></button>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Preis</b></div>
                            <div class="col-xs-2" ng-class="{'strikeText': overrideReservationPrice}">{{calculatedReservationPrice|currency:'€ '}}</div>
                            <div class="col-xs-2" ng-show="userInfo.hasAuthority('ADMIN')">
                                <input type="checkbox" ng-model="overrideReservationPrice" ng-change="changeReservationPriceOverride()"/> überschr.
                            </div>
                            <div class="col-xs-2" ng-show="overrideReservationPrice">
                                <input type="text" ng-model="reservationPrice" name="overrideReservationPrice" ng-pattern="/^[0-9]+(|\.[0-9]|\.[0-9][0-9])$/" required />
                                <span class="error" ng-show="reservationForm.overrideReservationPrice.$error.required">Required!</span>
                                <span class="error" ng-show="reservationForm.overrideReservationPrice.$error.pattern">pattern</span>
                            </div>
                        </div>
                        <div class="row" ng-show="userInfo.hasAuthority('ADMIN')">
                            <div class="spacer10"></div>
                            <div class="col-xs-2"><b>Kunde</b></div>
                            <div class="col-xs-8">
                                <input type="text" ng-model="reservationCustomerName" size="50" name="reservationCustomer"
                                       typeahead="user as user.firstName + ' ' + user.lastName + ', ' + user.city + ', ' + user.street for user in users | filter:{$: $viewValue}"
                                       typeahead-on-select="selectReservationCustomer()"
                                       ng-disabled="reservationCustomerSelected" ng-required="userInfo.hasAuthority('ADMIN')" />
                                <span class="glyphicon glyphicon-remove" style="cursor: default" ng-show="reservationCustomerSelected" ng-click="deselectReservationCustomer()"></span>
                                <span class="error" ng-show="reservationForm.reservationCustomer.$error.required && reservationForm.reservationCustomer.$dirty">Required!</span>
                            </div>
                        </div>
                        <div class="row" ng-show="userInfo.hasAuthority('ADMIN') && !reservationCustomerSelected && !reservationForm.reservationCustomer.$error.required">
                            <div class="spacer5"></div>
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-3" style="width: 150px;"><input type="checkbox" ng-model="createReservationCustomer"/> Benutzer anlegen</div>
                            <div class="col-xs-4" ng-show="createReservationCustomer">
                                <input type="email" ng-model="createReservationCustomerEmail" name="createReservationCustomerEmail" ng-required="createReservationCustomer" placeholder="E-Mail" size="33"/>
                                <span class="error" ng-show="reservationForm.createReservationCustomerEmail.$error.required && reservationForm.createReservationCustomerEmail.$dirty">Required!</span>
                                <span class="error" ng-show="reservationForm.createReservationCustomerEmail.$error.email && reservationForm.createReservationCustomerEmail.$dirty">invalid email</span>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Kommentar</b></div>
                            <div class="col-xs-8">
                                <textarea ng-model="comment" name="comment" cols="49" rows="2"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" style="width: 400px;" ng-click="makeSingleReservation()" ng-disabled="reservationForm.$invalid">Buchen</button>
                    <button type="button" class="button" style="width: 110px;" data-dismiss="modal">Abbrechen</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="subscriptionReservationModal" class="modal fade cpModal">
        <div class="modal-dialog reservation-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Abo buchen</h2>
                </div>
                <div class="modal-body">
                    <form name="subscriptionReservationForm">
                        <div class="row">
                            <div class="col-xs-2"><b>Abo</b></div>
                            <button ng-repeat="subscription in subscriptions" type="button"
                                    ng-class="{'buttonLight': selectedSubscription != subscription, 'buttonLightSelected': selectedSubscription == subscription}"
                                    ng-click="selectSubscription(subscription)" style="margin-right: 15px;">
                                {{subscription.name}}
                            </button>
                        </div>
                        <div class="spacer20"></div>
                        <div class="row">
                            <div class="col-xs-2"><b>Von</b></div>
                            <div class="col-xs-4">{{selectedSubscription.periodStart}} - {{selectedSubscription.periodEnd}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><b>Stunden</b></div>
                            <div class="col-xs-2">{{subscriptionUnits * selectedCourtCategory.bookingUnit / 60}}</div>
                            <div class="col-xs-2">
                                <button type="button" class="button" ng-click="increaseSubscriptionUnits()">+</button>
                                <button type="button" class="button" ng-click="decreaseSubscriptionUnits()" ng-disabled="subscriptionUnits < 2">-</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><b>Wochentag</b></div>
                            <button type="button" ng-class="{'buttonLight': selectedSubWeekDay != 0, 'buttonLightSelected': selectedSubWeekDay == 0}" ng-click="selectSubWeekDay(0)" style="margin-right: 15px;">Mo</button>
                            <button type="button" ng-class="{'buttonLight': selectedSubWeekDay != 1, 'buttonLightSelected': selectedSubWeekDay == 1}" ng-click="selectSubWeekDay(1)" style="margin-right: 15px;">Di</button>
                            <button type="button" ng-class="{'buttonLight': selectedSubWeekDay != 2, 'buttonLightSelected': selectedSubWeekDay == 2}" ng-click="selectSubWeekDay(2)" style="margin-right: 15px;">Mi</button>
                            <button type="button" ng-class="{'buttonLight': selectedSubWeekDay != 3, 'buttonLightSelected': selectedSubWeekDay == 3}" ng-click="selectSubWeekDay(3)" style="margin-right: 15px;">Do</button>
                            <button type="button" ng-class="{'buttonLight': selectedSubWeekDay != 4, 'buttonLightSelected': selectedSubWeekDay == 4}" ng-click="selectSubWeekDay(4)" style="margin-right: 15px;">Fr</button>
                            <button type="button" ng-class="{'buttonLight': selectedSubWeekDay != 5, 'buttonLightSelected': selectedSubWeekDay == 5}" ng-click="selectSubWeekDay(5)" style="margin-right: 15px;">Sa</button>
                            <button type="button" ng-class="{'buttonLight': selectedSubWeekDay != 6, 'buttonLightSelected': selectedSubWeekDay == 6}" ng-click="selectSubWeekDay(6)" style="margin-right: 15px;">So</button>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><b>Startzeit</b></div>
                            <div class="col-xs-4"><select ng-model="selectedSubStartTime" ng-options="startTime for startTime in availableSubStartTimes" ng-change="selectSubStartTime(selectedSubStartTime)" required></select></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><b>Platz</b></div>
                            <div class="col-xs-4"><select ng-model="selectedSubCourt" ng-options="court.name for court in availableSubCourts" ng-change="selectSubCourt()" required></select></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><b>Preis</b></div>
                            <div class="col-xs-2" ng-class="{'strikeText': overrideSubReservationPrice}">{{calculatedSubReservationPrice}}</div>
                            <div class="col-xs-2" ng-show="userInfo.hasAuthority('ADMIN')"><input type="checkbox" ng-model="overrideSubReservationPrice" ng-change="changeSubReservationPriceOverride()"/> Override</div>
                            <div class="col-xs-2" ng-show="overrideSubReservationPrice">
                                <input type="text" ng-model="subReservationPrice" name="overrideSubReservationPrice" ng-pattern="/^[0-9]+(|\.[0-9]|\.[0-9][0-9])$/" ng-required="userInfo.hasAuthority('ADMIN') && overrideSubReservationPrice" />
                                <span class="error" ng-show="subscriptionReservationForm.overrideSubReservationPrice.$error.required">Required!</span>
                                <span class="error" ng-show="subscriptionReservationForm.overrideSubReservationPrice.$error.pattern">pattern</span>
                            </div>
                        </div>
                        <div class="row" ng-show="userInfo.hasAuthority('ADMIN')">
                            <div class="col-xs-1"><b>Kunde</b></div> <br/>
                            <div class="col-xs-10">
                                <input type="text" ng-model="subReservationCustomerName" size="50" name="subReservationCustomer"
                                       typeahead="user as user.firstName + ' ' + user.lastName + ', ' + user.city + ', ' + user.street for user in users | filter:{$: $viewValue}"
                                       typeahead-on-select="selectSubReservationCustomer()"
                                       ng-disabled="subReservationCustomerSelected" ng-required="userInfo.hasAuthority('ADMIN')" />
                                <span class="glyphicon glyphicon-remove" style="cursor: default" ng-show="subReservationCustomerSelected" ng-click="deselectSubReservationCustomer()"></span>
                                <span class="error" ng-show="subscriptionReservationForm.subReservationCustomer.$error.required && subscriptionReservationForm.subReservationCustomer.$dirty">Required!</span>
                            </div>
                        </div>
                        <div class="row" ng-show="userInfo.hasAuthority('ADMIN') && !subReservationCustomerSelected && !subscriptionReservationForm.subReservationCustomer.$error.required">
                            <div class="col-xs-10">
                                <div class="col-xs-4">Create User Account <input type="checkbox" ng-model="createSubReservationCustomer"/></div>
                                <div class="col-xs-6" ng-show="createSubReservationCustomer">
                                    EMail: <input type="email" ng-model="createSubReservationCustomerEmail" name="createSubReservationCustomerEmail" ng-required="createSubReservationCustomer" />
                                    <span class="error" ng-show="subscriptionReservationForm.createSubReservationCustomerEmail.$error.required && subscriptionReservationForm.createSubReservationCustomerEmail.$dirty">Required!</span>
                                    <span class="error" ng-show="subscriptionReservationForm.createSubReservationCustomerEmail.$error.email && subscriptionReservationForm.createSubReservationCustomerEmail.$dirty">invalid email</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1"><b>Kommentar</b></div>
                            <div class="col-xs-10">
                                <textarea ng-model="subComment" name="comment" cols="50" rows="5"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" ng-click="makeSubscriptionReservation()" ng-disabled="subscriptionReservationForm.$invalid">Buchen</button>
                    <button type="button" class="button" data-dismiss="modal">Abbrechen</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
