<div ng-controller="HeaderController">
    <div id="header">
       <div id="headerContent">
            <div id="headerLogo">
                <a href="#courtpicker"><img id="imageLogo" src="data:image/gif;base64,{{cpInstanceStyle.images['logo']}}"/></a>
            </div>

            <!-- authentication -->
            <div id="headerLogin">
                <!-- login -->
                <div ng-show="!userInfo.isLoggedIn">
                    <div id="loginbutton" class="button" style="width: 100px; margin: 4px auto; margin-bottom: 0;" ng-click="showLoginForm()">Login</div>
                </div>

                <!-- logout -->
                <div ng-show="userInfo.isLoggedIn">
                    <form name="logoutform" novalidate>
                        <div style="width: 120px; padding: 0; margin: 4px auto; margin-bottom: 0;">
                            <button type="button" class="button" style="width: 100%; height: 100%;" ng-click="logout()">Abmelden</button>
                            <br/>
                            <span class="smallFont">{{userInfo.loggedInUser.userName}}</span>
                        </div>
                    </form>
                </div>

                <!-- link to register user -->
                <div ng-show="!userInfo.isLoggedIn">
                    <a href="" id="registrationMenuItem" style="margin-left: 22px;" class="smallFont" onclick="return false;" ng-click="showRegisterForm()">Neuer Benutzer?</a>
                </div>

                <!-- login form -->
                <div id="loginmenu" ng-show="displayLoginForm" my-hide-on-outside-click="resetLoginForm()" my-hide-on-outside-click-exception-id="loginbutton">
                    <h2>Login</h2>
                    <form name="loginform" novalidate>
                        <div class="row">
                            <div class="col-xs-3">Benutzername</div>
                            <div class="col-xs-6">
                                <input type="text" ng-model="loginForm.username" name="username" my-focus-on="displayLoginForm" required style="width: 163px;"/>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-3">Passwort</div>
                            <div class="col-xs-6">
                                <input type="password" ng-model="loginForm.password" name="password" required style="width: 163px;"/>
                            </div>
                        </div>
                        <div class="spacer5"></div>
                        <div class="row">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-6">
                                <a href="" ng-click="showForgotPasswordForm()">Passwort vergessen?</a>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-4">
                                <button type="submit" class="button" style="width: 100%;" ng-click="login()">Login</button>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="button" style="width: 100%;" ng-click="resetLoginForm()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- password forgotten form -->
                <div id="forgotpasswordmenu" ng-show="displayForgotPasswordForm" my-hide-on-outside-click="resetForgotPasswordForm()">
                    <h2>Passwort vergessen?</h2>

                    <form name="forgotpasswordform" novalidate ng-show="!displayForgotPasswordRequestStatus">
                        <p>Bitte geben Sie folgende Daten ein:</p>
                        <div class="row">
                            <div class="col-xs-3">Vorname</div>
                            <div class="col-xs-6">
                                <input type="text" name="vorname" ng-model="forgotPasswordForm.firstname" my-focus-on="displayForgotPasswordForm" required style="width: 163px;"/>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-3">Nachname</div>
                            <div class="col-xs-6">
                                <input type="text" name="nachname" ng-model="forgotPasswordForm.lastname" required style="width: 163px;"/>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-3">E-Mail</div>
                            <div class="col-xs-6">
                                <input type="text" name="email" ng-model="forgotPasswordForm.email" required style="width: 163px;"/>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-4">
                                <button type="email" class="button" style="width: 100%;" ng-click="forgotPasswordRequest()" ng-disabled="forgotpasswordform.$invalid">Senden</button>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="button" style="width: 100%;" ng-click="resetForgotPasswordForm()">Abbrechen</button>
                            </div>
                        </div>
                    </form>

                    <div ng-show="displayForgotPasswordRequestStatus">
                        <p style="padding-right: 20px;">{{forgotPasswordRequestStatus}}</p>
                        <div class="spacer5"></div>
                        <div class="row">
                            <div class="col-xs-9">
                                <button type="button" class="button" style="width: 100%;" ng-click="resetForgotPasswordForm()">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="headerText">
                <h1 style="display: inline;">{{cpInstance.name}}</h1>
            </div>
        </div>
    </div>

    <div id="customerLinks">
        {{userInfo.statusMessage}}
        <a href="#/customerReservations" ng-show="userInfo.isLoggedIn">
            <div class="buttonThinRound mediumFont" style="margin-top: 3px;">
                Kundenbereich <b>&gt;</b>
            </div>
        </a>
        <a href="#/adminReservations" ng-show="userInfo.authorities.indexOf('ADMIN')>-1">
            <div class="buttonThinRound mediumFont" style="margin-top: 3px;">
                Adminbereich <b>&gt;</b>
            </div>
        </a>
    </div>

    <div style="clear: both;"></div>

    <div id="registerModal" class="modal fade cpModal">
        <div class="modal-dialog reservation-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Benutzer registrieren</h2>
                </div>
                <div class="modal-body">
                    <form name="registrationForm" novalidate>
                        <div class="row">
                            <div class="col-xs-3">Benutzername</div>
                            <div class="col-xs-3">
                                <input type="text" ng-model="registerForm.userName" name="userName" required my-validate-unique-user-name/>
                            </div>
                            <div class="col-xs-4">
                                <span class="error" ng-show="registrationForm.userName.$error.unique && registrationForm.userName.$dirty">Benutzername vergeben</span>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-3">Passwort</div>
                            <div class="col-xs-3">
                                <input type="password" ng-model="registerForm.password" name="password" required />
                            </div>
                        </div>
                        <div class="spacer5"></div>
                        <div class="row">
                            <div class="col-xs-3">Passwort Whg</div>
                            <div class="col-xs-3">
                                <input type="password" ng-model="registerForm.passwordConfirmation" name="passwordConfirmation" my-pw-match password-match="registerForm.password" />
                            </div>
                            <div class="col-xs-4">
                                <span class="error" ng-show="registrationForm.passwordConfirmation.$invalid && registrationForm.passwordConfirmation.$dirty">Passwörter ungleich</span>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-3">E-Mail</div>
                            <div class="col-xs-3">
                                <input type="email" ng-model="registerForm.email" name="email" required my-validate-unique-user-email/>
                            </div>
                            <div class="col-xs-4">
                                <span class="error" ng-show="registrationForm.email.$error.email && registrationForm.email.$dirty">E-Mail Adresse ungütlig</span>
                                <span class="error" ng-show="registrationForm.email.$error.unique && registrationForm.email.$dirty">E-Mail vergeben</span>
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-3">Vorname</div>
                            <div class="col-xs-3">
                                <input type="text" ng-model="registerForm.firstName" name="firstName" required />
                            </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="row">
                            <div class="col-xs-3">Nachname</div>
                            <div class="col-xs-3">
                                <input type="text" ng-model="registerForm.lastName" name="lastName" required />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="text-align: left;">
                    <button type="button" class="button" ng-click="register()" ng-disabled="registrationForm.$invalid" style="width: 400px;">Registrieren</button>
                    <button type="button" class="button" data-dismiss="modal" ng-click="registrationForm.$setPristine()" style="width: 110px;">Abbrechen</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
