<div ng-controller="ConfigureCourtsController">
<div ng-controller="ConfigureCourtsController">
    <p ng-show="showConfiguratorNavigation">
        <b>Legen Sie hier den Namen Ihrer Anlage, sowie die zu verwaltenden Plätze fest.</b><br/>
        Folgen Sie den Anweisungen und klicken sie anschließend "Weiter".
    </p>

    <div class="page-header" style="margin-top: 0;">
        <h1>Anlage</h1>
    </div>

    <form name="formInstance" novalidate class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-2 control-label">Name Ihrer Anlage *</label>
            <div class="col-xs-3">
                <input type="text" name="instanceName" ng-model="cpInstance.name" ng-trim="true" required
                       class="form-control" my-on-blur="saveCpInstanceIfInputValid()" />
            </div>
            <div class="col-xs-6 form-control-static text-muted">
                Dieser Name steht in der Kopfzeile ihres CourtPickers
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Anzeigename *</label>
            <div class="col-xs-3">
                <input type="text" name="instanceShortName" ng-model="cpInstance.shortName" ng-trim="true" required
                       class="form-control" my-on-blur="saveCpInstanceIfInputValid()" my-validate-unique-cp-shortname
                       ng-pattern="/^[a-zA-Z0-9]+$/" />
                <div class="error" ng-show="formInstance.instanceShortName.$error.unique && formInstance.instanceShortName.$dirty">Bereits vergeben</div>
                <div class="error" ng-show="formInstance.instanceShortName.$error.pattern && formInstance.instanceShortName.$dirty">Nur alphanumerische Zeichen erlaubt</div>
            </div>
            <div class="col-xs-6 form-control-static text-muted" ng-show="cpInstance.shortName">
                Ihr Courtpicker wird unter der URL <b>http://courtpicker.com/{{cpInstance.shortName}}</b> erreichbar sein
            </div>
        </div>
    </form>

    <div class="page-header">
        <h1>Platzarten</h1>
    </div>

    <p ng-show="showConfiguratorNavigation">
        Erstellen Sie zuerst die zu verwaltenden Platzarten (Tennis, Fußball, Badminton, ...) und danach die zugehörigen Plätze.
    </p>

    <table id="ccTable" class="table table-hover" style="width: 800px;">
        <tbody>
        <tr ng-repeat="courtCategory in courtCategories" ng-click="selectCourtCategory(courtCategory)"
            ng-class="{active: isCourtCategorySelected(courtCategory)}">
            <td>{{courtCategory.name}}</td>
            <td>
                <button type="button" ng-click="showCourtsModal(courtCategory)" class="btn btn-xs btn-default" ng-class="{'btn-danger': !hasCourtsAssigned(courtCategory)}">
                    <span class="glyphicon glyphicon-search"></span> {{courtCategory.name}}plätze definieren
                </button>
            </td>
            <td>
                <button type="button" ng-click="showCourtCategoryForm(courtCategory)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Platzart Bearbeiten
                </button>
            </td>
            <td>
                <button type="button" ng-click="deleteCourtCategory(courtCategory)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-remove"></span> Platzart Löschen
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button ng-click="showCourtCategoryForm()" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Platzart hinzufügen
    </button>

    <div ng-show="displayCourtCategoryForm">
        <div class="spacer30"></div>
        <form name="courtCategoryForm" ng-submit="saveCourtCategory()" novalidate class="form-horizontal">
            <fieldset>
                <legend>Platzart</legend>
            </fieldset>
            <div class="form-group">
                <label class="col-xs-1 control-label">Name *</label>
                <div class="col-xs-3">
                    <input type="text" name="courtCategoryName" ng-model="formCourtCategory.name" ng-trim="true" required
                           my-focus-on="displayCourtCategoryForm" class="form-control"/>
                </div>
                <div class="col-xs-6 form-control-static text-muted">
                    Der Name soll die Art de Platzes ausdrücken. z.B. Tennis, Basketball, Fussball, etc.
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label" style="padding-right: 14px;">Buchbar *</label>
                <div class="col-xs-2">
                    <div class="input-group">
                        <input type="text" name="courtCategoryBookFrom" ng-model="formCourtCategory.bookableFromTime" ng-trim="true"
                               class="form-control" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                               data-show-meridian="false" data-minute-step="30" my-timepicker/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                    <div class="error" ng-show="courtCategoryForm.courtCategoryBookFrom.$error.pattern && courtCategoryForm.courtCategoryBookFrom.$dirty">Ungültige Zeit</div>
                </div>
                <div class="col-xs-1 form-group form-control-static" style="text-align: center">bis</div>
                <div class="col-xs-2">
                    <div class="input-group">
                        <input type="text" name="courtCategoryBookTo" ng-model="formCourtCategory.bookableToTime" ng-trim="true"
                               class="form-control" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                               data-show-meridian="false" data-minute-step="30" my-timepicker/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                    <div class="error" ng-show="courtCategoryForm.courtCategoryBookTo.$error.pattern && courtCategoryForm.courtCategoryBookTo.$dirty">Ungültige Zeit</div>
                </div>
                <div class="col-xs-6 form-control-static text-muted">
                    Gibt an, innerhalb welcher Uhrzeiten ein Platz dieser Platzart reserviert werden kann.
                </div>

            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">Einheit *</label>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 30)}"
                            ng-click="formCourtCategory.bookingUnit = 30">
                        30min
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 60)}"
                            ng-click="formCourtCategory.bookingUnit = 60">
                        1h
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 90)}"
                            ng-click="formCourtCategory.bookingUnit = 90">
                        1,5h
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 120)}"
                            ng-click="formCourtCategory.bookingUnit = 120">
                        2h
                    </button>
                </div>
                <div class="col-xs-6 form-control-static text-muted">
                    Gibt an, in welchen Einheiten ein Platz dieser Platzart reserviert werden kann.
                </div>
            </div>

            <button type="submit" name="courtCategorySubmit" ng-disabled="courtCategoryForm.$invalid" class="btn btn-primary">Speichern</button>
            <button type="button" ng-click="hideCourtCategoryForm()" class="btn btn-default">Abbrechen</button>
        </form>
    </div>

    <div class="spacer20"></div>

    <div ng-show="showConfiguratorNavigation">
        <div class="spacer30"></div>
        <a href="#/configureRates" class="btn btn-lg btn-primary" ng-disabled="formInstance.$invalid">Weiter</a>
        <div class="spacer10"></div>
    </div>

    <div id="courtsModal" class="modal fade cpModal">
        <div class="modal-dialog reservation-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">{{selectedCourtCategory.name}}plätze</h2>
                </div>
                <div class="modal-body">
                    <table id="cTable" class="table table-hover">
                        <tbody>
                        <tr ng-repeat="court in courts" ng-click="selectCourt(court)" ng-class="{active: isCourtCategorySelected(courtCategory)}">
                            <td>{{court.name}}</td>
                            <td>
                                <button type="button" ng-click="showCourtForm(court)" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span> Bearbeiten
                                </button>
                                &nbsp;&nbsp;
                                <button type="button" ng-click="deleteCourt(court)" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-remove"></span> Löschen
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button ng-click="showCourtForm()" ng-disabled="selectedCourtCategory == null" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span> Platz hinzufügen
                    </button>

                    <div ng-show="displayCourtForm">
                        <div class="spacer30"></div>
                        <form name="courtForm" ng-submit="saveCourt()" novalidate class="form-horizontal">
                            <fieldset>
                                <legend>Platz</legend>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">Name *</label>
                                    <div class="col-xs-3">
                                        <input type="text" name="name" ng-model="formCourt.name" ng-trim="true" required
                                               my-focus-on="displayCourtForm" class="form-control"/>
                                        <span class="error" ng-show="courtForm.name.$invalid && courtForm.name.$dirty">Required!</span>
                                    </div>
                                </div>
                                <button type="submit" name="courtSubmit" ng-disabled="courtForm.$invalid" class="btn btn-primary">Speichern</button>
                                <button type="button" ng-click="hideCourtForm()" class="btn btn-default">Abbrechen</button>
                                <div class="spacer20"></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
                -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
