<div ng-controller="ConfigureCourtsController">
    <div class="page-header" style="margin-top: 0;">
        <h1>Instanzdetails</h1>
    </div>

    <form name="formInstance" novalidate class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-1 control-label">Name</label>
            <div class="col-xs-3">
                <input type="text" name="instanceName" placeholder="Name" ng-model="cpInstance.name" ng-trim="true" required
                       class="form-control" my-on-blur="saveCpInstanceIfInputValid()" />
                <span class="error" ng-show="formInstance.instanceName.$error.required && formInstance.instanceName.$dirty">Required!</span>
            </div>
            <label class="col-xs-1 control-label">Short URL</label>
            <div class="col-xs-3">
                <input type="text" name="instanceShortName" placeholder="shortname" ng-model="cpInstance.shortName" ng-trim="true" required
                       class="form-control" my-on-blur="saveCpInstanceIfInputValid()" my-validate-unique-cp-shortname/>
                <span class="error" ng-show="courtCategoryForm.courtCategoryName.$invalid && courtCategoryForm.courtCategoryName.$dirty">Required!</span>
                <span class="error" ng-show="formInstance.instanceShortName.$error.required && formInstance.instanceShortName.$dirty">Required!</span>
                <span ng-show="formInstance.instanceShortName.$error.unique && formInstance.instanceShortName.$dirty">Shortname already exists.</span>
            </div>
        </div>
    </form>

    <div class="page-header">
        <h1>Plätze</h1>
    </div>

    <h2>Platzarten</h2>

    <table id="ccTable" class="table table-hover" style="width: 800px;">
        <tbody>
        <tr ng-repeat="courtCategory in courtCategories" ng-click="selectCourtCategory(courtCategory)"
            ng-class="{active: isCourtCategorySelected(courtCategory)}">
            <td>{{courtCategory.name}}</td>
            <td>
                <button type="button" ng-click="showCourtCategoryForm(courtCategory)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
            </td>
            <td>
                <button type="button" ng-click="deleteCourtCategory(courtCategory)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button ng-click="showCourtCategoryForm()" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Platzart hinzufügen
    </button>

    <div ng-show="displayCourtCategoryForm">
        <div class="spacer10"></div>
        <form name="courtCategoryForm" ng-submit="saveCourtCategory()" novalidate class="form-horizontal">
            <fieldset>
                <legend>Platzart</legend>
            </fieldset>
            <div class="form-group">
                <label class="col-xs-1 control-label">Name</label>
                <div class="col-xs-3">
                    <input type="text" name="courtCategoryName" placeholder="name" ng-model="formCourtCategory.name" ng-trim="true" required
                           my-focus-on="displayCourtCategoryForm" class="form-control"/>
                    <span class="error" ng-show="courtCategoryForm.courtCategoryName.$invalid && courtCategoryForm.courtCategoryName.$dirty">Required!</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">Buchbar</label>
                <div class="col-xs-2">
                    von
                    <div class="input-group">
                        <input type="text" name="courtCategoryBookFrom" placeholder="name" ng-model="formCourtCategory.bookableFromTime" ng-trim="true"
                               class="form-control" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                               data-show-meridian="false" data-minute-step="30" my-timepicker/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                    <span class="error" ng-show="courtCategoryForm.courtCategoryBookFrom.$error.required && courtCategoryForm.courtCategoryBookFrom.$dirty">Required!</span>
                    <span class="error" ng-show="courtCategoryForm.courtCategoryBookFrom.$error.pattern && courtCategoryForm.courtCategoryBookFrom.$dirty">Invalid Time format</span>
                </div>
                <div class="col-xs-2">
                    bis
                    <div class="input-group">
                        <input type="text" name="courtCategoryBookTo" placeholder="name" ng-model="formCourtCategory.bookableToTime" ng-trim="true"
                               class="form-control" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                               data-show-meridian="false" data-minute-step="30" my-timepicker/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                    <span class="error" ng-show="courtCategoryForm.courtCategoryBookTo.$error.required && courtCategoryForm.courtCategoryBookTo.$dirty">Required!</span>
                    <span class="error" ng-show="courtCategoryForm.courtCategoryBookTo.$error.pattern && courtCategoryForm.courtCategoryBookTo.$dirty">Invalid Time format</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">Buchungs Einheit</label>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 30)}"
                            ng-click="formCourtCategory.bookingUnit = 30">
                        30min
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 60)}"
                            ng-click="formCourtCategory.bookingUnit = 60">
                        1h
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 90)}"
                            ng-click="formCourtCategory.bookingUnit = 90">
                        1,5h
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 120)}"
                            ng-click="formCourtCategory.bookingUnit = 120">
                        2h
                    </button>
                </div>
            </div>

            <button type="submit" name="courtCategorySubmit" ng-disabled="courtCategoryForm.$invalid" class="btn btn-primary">Speichern</button>
            <button type="button" ng-click="hideCourtCategoryForm()" class="btn btn-default">Abbrechen</button>
        </form>
    </div>

    <div class="spacer20"></div>

    <h2>Plätze</h2>

    <table id="cTable" class="table table-hover" style="width: 800px;">
        <tbody>
        <tr ng-repeat="court in courts" ng-click="selectCourt(court)" ng-class="{active: isCourtCategorySelected(courtCategory)}">
            <td>{{court.name}}</td>
            <td>
                <button type="button" ng-click="showCourtForm(court)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
            </td>
            <td>
                <button type="button" ng-click="deleteCourt(court)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button ng-click="showCourtForm()" ng-disabled="selectedCourtCategory == null" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Platz hinzufügen
    </button>

    <div ng-show="displayCourtForm">
        <div class="spacer10"></div>
        <form name="courtForm" ng-submit="saveCourt()" novalidate class="form-horizontal">
            <fieldset>
                <legend>Platz</legend>
                <div class="form-group">
                    <label class="col-xs-1 control-label">Name</label>
                    <div class="col-xs-3">
                        <input type="text" name="name" placeholder="name" ng-model="formCourt.name" ng-trim="true" required
                               my-focus-on="displayCourtForm" class="form-control"/>
                        <span class="error" ng-show="courtForm.name.$invalid && courtForm.name.$dirty">Required!</span>
                    </div>
                </div>
                <button type="submit" name="courtSubmit" ng-disabled="courtForm.$invalid" class="btn btn-primary">Speichern</button>
                <button type="button" ng-click="hideCourtForm()" class="btn btn-default">Abbrechen</button>
            </fieldset>
        </form>
    </div>

    <div ng-show="showConfiguratorNavigation">
        <div class="spacer20"></div>
        <a href="#/configureRates" class="btn btn-lg btn-primary" ng-disabled="formInstance.$invalid">Next</a>
    </div>
</div>
