<div ng-controller="ConfigureCourtsController">
    <p ng-show="showConfiguratorNavigation">
        Auf dieser Seite kannst Du den Namen Deiner Anlage bzw. Deines Vereins festlegen sowie die Plätze die Du mit Deinem CourtPicker verwalten willst. <br/>
        Folge den Anweisungen unten. Klicke dann auf "Weiter" um die Reservierungstarife zu definieren.
    </p>

    <div class="page-header" style="margin-top: 0;">
        <h1>Anlage</h1>
    </div>

    <form name="formInstance" novalidate class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-2 control-label">Name Deiner Anlage</label>
            <div class="col-xs-3">
                <input type="text" name="instanceName" ng-model="cpInstance.name" ng-trim="true" required
                       class="form-control" my-on-blur="saveCpInstanceIfInputValid()" />
            </div>
            <div class="col-xs-6 form-control-static text-muted">
                Dieser Name steht in der Kopfzeile ihres CourtPickers
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">CourtPicker URL</label>
            <div class="col-xs-3">
                <input type="text" name="instanceShortName" ng-model="cpInstance.shortName" ng-trim="true" required
                       class="form-control" my-on-blur="saveCpInstanceIfInputValid()" my-validate-unique-cp-shortname
                       ng-pattern="/^[a-zA-Z0-9]+$/" />
                <div class="error" ng-show="formInstance.instanceShortName.$error.unique && formInstance.instanceShortName.$dirty">Bereits vergeben</div>
                <div class="error" ng-show="formInstance.instanceShortName.$error.pattern && formInstance.instanceShortName.$dirty">Nur alphanumerische Zeichen erlaubt</div>
            </div>
            <div class="col-xs-6 form-control-static text-muted">
                Ihr Courtpicker wird unter der URL <b>http://courtpicker.com/{{cpInstance.shortName}}</b> erreichbar sein
            </div>
        </div>
    </form>

    <div class="page-header">
        <h1>Plätze</h1>
    </div>

    <p ng-show="showConfiguratorNavigation">
        Erstelle zuerst die Platzarten die Du verwalten willst, z.B. Tennis, Badminton, Squash. <br/>
        Danach kannst du eine der erstellten Platzarten anklicken und einzelne Plätze für diese Platzart hinzufügen.
    </p>

    <h2>Platzarten</h2>

    <table id="ccTable" class="table table-hover" style="width: 800px;">
        <tbody>
        <tr ng-repeat="courtCategory in courtCategories" ng-click="selectCourtCategory(courtCategory)"
            ng-class="{active: isCourtCategorySelected(courtCategory)}">
            <td>{{courtCategory.name}}</td>
            <td>
                <button type="button" ng-click="showCourtCategoryForm(courtCategory)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Bearbeiten
                </button>
            </td>
            <td>
                <button type="button" ng-click="deleteCourtCategory(courtCategory)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-remove"></span> Löschen
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button ng-click="showCourtCategoryForm()" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Platzart hinzufügen
    </button>

    <div ng-show="displayCourtCategoryForm">
        <div class="spacer30"></div>
        <form name="courtCategoryForm" ng-submit="saveCourtCategory()" novalidate class="form-horizontal">
            <fieldset>
                <legend>Platzart</legend>
            </fieldset>
            <div class="form-group">
                <label class="col-xs-1 control-label">Name</label>
                <div class="col-xs-3">
                    <input type="text" name="courtCategoryName" ng-model="formCourtCategory.name" ng-trim="true" required
                           my-focus-on="displayCourtCategoryForm" class="form-control"/>
                </div>
                <div class="col-xs-6 form-control-static text-muted">
                    Der Name soll die Art de Platzes ausdrücken. z.B. Tennis, Basketball, Fussball, etc.
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">Buchbar</label>
                <div class="col-xs-2">
                    <div class="input-group">
                        <input type="text" name="courtCategoryBookFrom" ng-model="formCourtCategory.bookableFromTime" ng-trim="true"
                               class="form-control" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                               data-show-meridian="false" data-minute-step="30" my-timepicker/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                    <div class="error" ng-show="courtCategoryForm.courtCategoryBookFrom.$error.pattern && courtCategoryForm.courtCategoryBookFrom.$dirty">Ungültige Zeit</div>
                </div>
                <div class="col-xs-1 form-group form-control-static" style="text-align: center">bis</div>
                <div class="col-xs-2">
                    <div class="input-group">
                        <input type="text" name="courtCategoryBookTo" ng-model="formCourtCategory.bookableToTime" ng-trim="true"
                               class="form-control" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                               data-show-meridian="false" data-minute-step="30" my-timepicker/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                    <div class="error" ng-show="courtCategoryForm.courtCategoryBookTo.$error.pattern && courtCategoryForm.courtCategoryBookTo.$dirty">Ungültige Zeit</div>
                </div>
                <div class="col-xs-6 form-control-static text-muted">
                    Gibt an, innerhalb welcher Uhrzeiten ein Platz dieser Platzart reserviert werden kann.
                </div>

            </div>
            <div class="form-group">
                <label class="col-xs-1 control-label">Einheit</label>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 30)}"
                            ng-click="formCourtCategory.bookingUnit = 30">
                        30min
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 60)}"
                            ng-click="formCourtCategory.bookingUnit = 60">
                        1h
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 90)}"
                            ng-click="formCourtCategory.bookingUnit = 90">
                        1,5h
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-class="{'btn-primary': (formCourtCategory.bookingUnit == 120)}"
                            ng-click="formCourtCategory.bookingUnit = 120">
                        2h
                    </button>
                </div>
                <div class="col-xs-6 form-control-static text-muted">
                    Gibt an, in welchen Einheiten ein Platz dieser Platzart reserviert werden kann.
                </div>
            </div>

            <button type="submit" name="courtCategorySubmit" ng-disabled="courtCategoryForm.$invalid" class="btn btn-primary">Speichern</button>
            <button type="button" ng-click="hideCourtCategoryForm()" class="btn btn-default">Abbrechen</button>
        </form>
    </div>

    <div class="spacer20"></div>

    <h2>Plätze</h2>

    <table id="cTable" class="table table-hover" style="width: 800px;">
        <tbody>
        <tr ng-repeat="court in courts" ng-click="selectCourt(court)" ng-class="{active: isCourtCategorySelected(courtCategory)}">
            <td>{{court.name}}</td>
            <td>
                <button type="button" ng-click="showCourtForm(court)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Bearbeiten
                </button>
            </td>
            <td>
                <button type="button" ng-click="deleteCourt(court)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-remove"></span> Löschen
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button ng-click="showCourtForm()" ng-disabled="selectedCourtCategory == null" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Platz hinzufügen
    </button>

    <div ng-show="displayCourtForm">
        <div class="spacer30"></div>
        <form name="courtForm" ng-submit="saveCourt()" novalidate class="form-horizontal">
            <fieldset>
                <legend>Platz</legend>
                <div class="form-group">
                    <label class="col-xs-1 control-label">Name</label>
                    <div class="col-xs-3">
                        <input type="text" name="name" ng-model="formCourt.name" ng-trim="true" required
                               my-focus-on="displayCourtForm" class="form-control"/>
                        <span class="error" ng-show="courtForm.name.$invalid && courtForm.name.$dirty">Required!</span>
                    </div>
                </div>
                <button type="submit" name="courtSubmit" ng-disabled="courtForm.$invalid" class="btn btn-primary">Speichern</button>
                <button type="button" ng-click="hideCourtForm()" class="btn btn-default">Abbrechen</button>
                <div class="spacer20"></div>
            </fieldset>
        </form>
    </div>

    <div ng-show="showConfiguratorNavigation">
        <div class="spacer30"></div>
        <a href="#/configureRates" class="btn btn-lg btn-primary" ng-disabled="formInstance.$invalid">Weiter</a>
        <div class="spacer10"></div>
    </div>
</div>
