<div ng-controller="ConfigureRatesController">
    <div class="page-header" style="margin-top: 0;">
        <h1>Tarife</h1>
    </div>

    <div ng-show="courtCategories.length == 0">
        You have to define courtcategories first, before you can start to define rates.
    </div>

    <div ng-show="courtCategories.length > 0">

    <!-- navigation menu -->
    <ul class="nav nav-pills">
        <li ng-repeat="courtCategory in courtCategories" ng-click="selectCourtCategory(courtCategory)"
            ng-class="{active: (selectedCourtCategory == courtCategory)}">
            <a href="">{{courtCategory.name}}</a>
        </li>
    </ul>
    <div class="spacer10"></div>
    <ul class="nav nav-pills">
        <li ng-click="selectTypeRate()" ng-class="{active: (selectedRateType == 'RATE')}">
            <a href="">Tarife</a>
        </li>
        <li ng-click="selectTypeSubscriptionRatePeriod()" ng-class="{active: (selectedRateType == 'SUBSCRIPTIONRATEPERIOD')}">
            <a href="">Abo-Tarife</a>
        </li>
    </ul>
    <div class="spacer10"></div>

    <!-- rates -->
    <div id="rates" ng-show="selectedRateType == 'RATE'">
    <table id="rateTable" class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Preis</th>
            <th>Datum ab</th>
            <th>Datum bis</th>
            <th>Zeit von</th>
            <th>Zeit bis</th>
            <th>Wochentage</th>
            <th>Benutzergruppe</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rate in rates">
            <td><b>{{rate.name}}</b></td>
            <td><b>{{rate.price}}</b></td>
            <td>{{rate.cDateFrom}}</td>
            <td>{{rate.cDateTo}}</td>
            <td>{{rate.cTimeFrom}}</td>
            <td>{{rate.cTimeTo}}</td>
            <td>
                <span ng-show="rate.cMon">Mo </span>
                <span ng-show="rate.cTue">Di </span>
                <span ng-show="rate.cWed">Mi </span>
                <span ng-show="rate.cThu">Do </span>
                <span ng-show="rate.cFri">Fr </span>
                <span ng-show="rate.cSat">Sa </span>
                <span ng-show="rate.cSun">So </span>
            </td>
            <td>
                <span ng-repeat="userGroupId in rate.cUserGroupIds">
                    {{getUserGroupName(userGroupId)}}
                </span>
            </td>
            <td>
                <button type="button" ng-click="showRateForm(rate)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
            </td>
            <td>
                <button type="button" ng-click="deleteRate(rate)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-default" ng-click="showRateForm()">
        <span class="glyphicon glyphicon-plus"></span> Tarif hinzufügen
    </button>

    <div ng-show="displayRateForm">
        <h3>Rate</h3>
        <form name="rateForm" novalidate class="form-horizontal" role="form">
            <fieldset>
                <legend>Basics</legend>
                <div class="form-group">
                    <label for="rateName" class="col-xs-1 control-label">Name</label>
                    <div class="col-xs-3">
                        <input id="rateName" type="text" name="name" placeholder="name" ng-model="formRate.name"
                               ng-trim="true" required my-focus-on="displayRateForm" class="form-control"/>
                        <span class="error" ng-show="rateForm.name.$invalid && rateForm.name.$dirty">Required!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ratePrice" class="col-xs-1 control-label">Preis</label>
                    <div class="col-xs-3">
                        <input id="ratePrice" type="text" name="price" placeholder="price" ng-model="formRate.price"
                               ng-trim="true" required ng-pattern="/^[0-9]+\.?[0-9]*$/" class="form-control" />
                        <span class="error" ng-show="rateForm.price.$invalid && rateForm.price.$dirty">Required!</span>
                        <span class="error" ng-show="rateForm.price.$error.pattern && rateForm.price.$dirty">Invalid Number (please use . as comma separator)</span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>contraints</legend>
                <div class="form-group">
                    <!-- Datum -->
                    <label class="col-xs-1 control-label">Datum</label>
                    <div class="col-xs-1">
                        <label class="checkbox-inline">
                            anwenden <input type="checkbox" name="constrainDate" ng-model="formRate.constrainDate" ng-click="clickRateConstrainDate()"/>
                        </label>
                    </div>
                    <div class="col-xs-2">
                        von
                        <div class="input-group">
                            <input type="text" name="cDateFrom" placeholder="01.01." ng-model="formRate.cDateFrom"
                                   ng-disabled="!formRate.constrainDate" ng-trim="true"
                                   ng-required="formRate.constrainDate"
                                   ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.$/"
                                   class="form-control" data-date-format="dd.mm." my-datepicker/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        <span class="error" ng-show="rateForm.cDateFrom.$error.required && rateForm.cDateFrom.$dirty">Required!</span>
                        <span class="error" ng-show="rateForm.cDateFrom.$error.pattern && rateForm.cDateFrom.$dirty">Invalid Date format</span>
                    </div>
                    <div class="col-xs-2">
                        bis
                        <div class="input-group">
                            <input type="text" name="cDateTo" placeholder="31.12." ng-model="formRate.cDateTo"
                                   ng-disabled="!formRate.constrainDate" ng-trim="true"
                                   ng-required="formRate.constrainDate"
                                   ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.$/"
                                   class="form-control" data-date-format="dd.mm." my-datepicker/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                        <span class="error" ng-show="rateForm.cDateTo.$error.required && rateForm.cDateTo.$dirty">Required!</span>
                        <span class="error" ng-show="rateForm.cDateTo.$error.pattern && rateForm.cDateTo.$dirty">Invalid Date format</span>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Zeit -->
                    <label class="col-xs-1 control-label">Zeit</label>
                    <div class="col-xs-1">
                        <label class="checkbox-inline">
                            anwenden <input type="checkbox" name="constrainTime" ng-model="formRate.constrainTime" ng-click="clickRateConstrainTime()"/>
                        </label>
                    </div>
                    <div class="col-xs-2">
                        von
                        <div class="input-group">
                            <input type="text" name="cTimeFrom" placeholder="08:00" ng-model="formRate.cTimeFrom"
                                   ng-disabled="!formRate.constrainTime" ng-trim="true"
                                   ng-required="formRate.constrainTime"
                                   ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                                   class="form-control" data-show-meridian="false" data-minute-step="60" my-timepicker/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                        <span class="error" ng-show="rateForm.cTimeFrom.$error.required && rateForm.cTimeFrom.$dirty">Required!</span>
                        <span class="error" ng-show="rateForm.cTimeFrom.$error.pattern && rateForm.cTimeFrom.$dirty">Invalid Time format</span>
                    </div>
                    <div class="col-xs-2">
                        bis
                        <div class="input-group">
                            <input type="text" name="cTimeTo" placeholder="18:00" ng-model="formRate.cTimeTo"
                                   ng-disabled="!formRate.constrainTime" ng-trim="true"
                                   ng-required="formRate.constrainTime"
                                   ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                                   class="form-control" data-show-meridian="false" data-minute-step="60" my-timepicker/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                        <span class="error" ng-show="rateForm.cTimeTo.$error.required && rateForm.cTimeTo.$dirty">Required!</span>
                        <span class="error" ng-show="rateForm.cTimeTo.$error.pattern && rateForm.cTimeTo.$dirty">Invalid Time format</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-1 control-label">Wochentag</label>
                    <div class="col-xs-1">
                        <label class="checkbox-inline">
                            anwenden <input type="checkbox" name="constrainWeekDay" ng-model="formRate.constrainWeekDay" ng-click="clickRateConstrainWeekDay()"/>
                        </label>
                    </div>
                    <div class="col-xs-9" ng-disabled="!formRate.constrainWeekDay">
                        <label class="checkbox-inline">
                            Mo <input type="checkbox" name="constrainTime" ng-model="formRate.cMon"
                                      ng-disabled="!formRate.constrainWeekDay"/>
                        </label>
                        <label class="checkbox-inline">
                            Di <input type="checkbox" name="constrainTime" ng-model="formRate.cTue"
                                      ng-disabled="!formRate.constrainWeekDay"/>
                        </label>
                        <label class="checkbox-inline">
                            Mi <input type="checkbox" name="constrainTime" ng-model="formRate.cWed"
                                      ng-disabled="!formRate.constrainWeekDay"/>
                        </label>
                        <label class="checkbox-inline">
                            Do <input type="checkbox" name="constrainTime" ng-model="formRate.cThu"
                                      ng-disabled="!formRate.constrainWeekDay"/>
                        </label>
                        <label class="checkbox-inline">
                            Fr <input type="checkbox" name="constrainTime" ng-model="formRate.cFri"
                                      ng-disabled="!formRate.constrainWeekDay"/>
                        </label>
                        <label class="checkbox-inline">
                            Sa <input type="checkbox" name="constrainTime" ng-model="formRate.cSat"
                                      ng-disabled="!formRate.constrainWeekDay"/>
                        </label>
                        <label class="checkbox-inline">
                            So <input type="checkbox" name="constrainTime" ng-model="formRate.cSun"
                                      ng-disabled="!formRate.constrainWeekDay"/>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-1 control-label">User Gruppen</label>
                    <div class="col-xs-1">
                        <label class="checkbox-inline">
                            anwenden <input type="checkbox" name="constrainWeekDay" ng-model="formRate.constrainUserGroup" ng-click="clickRateConstrainUserGroup()"/>
                        </label>
                    </div>
                    <div class="col-xs-9 form-inline">
                                        <span ng-repeat="userGroupId in formRate.cUserGroupIds">
                                            {{getUserGroupName(userGroupId)}}
                                            <button class="btn btn-xs btn-default" ng-click="removeUserGroupFromRate(userGroupId)"
                                                    ng-disabled="!formRate.constrainUserGroup">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                        </span>
                        Add:
                        <select ng-model="userGroupToAdd" ng-options="g.name for g in userGroups" class="form-control input-sm"
                                ng-disabled="!formRate.constrainUserGroup"></select>
                        <button type="button" ng-click="addUserGroupToRate(userGroupToAdd)" class="btn btn-default btn-sm"
                                ng-disabled="!formRate.constrainUserGroup">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </button>
                    </div>
                </div>
            </fieldset>

            <button type="submit" name="submit" class="btn btn-primary" ng-click="saveRate()" ng-disabled="rateForm.$invalid">Speichern</button>
            <button type="button" class="btn btn-default" ng-click="hideRateForm()">Abbrechen</button>
        </form>
    </div>
    </div>

    <!-- subscription rates period -->
    <div id="subscriptionratesperiod" ng-show="selectedRateType == 'SUBSCRIPTIONRATEPERIOD'">
        <table id="subscriptionrateperiodTable" class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Period Start</th>
                <th>Period End</th>
                <th>Preis</th>
                <th>Zeit von</th>
                <th>Zeit bis</th>
                <th>Wochentage</th>
                <th>Benutzergruppe</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rate in subscriptionRatesPeriod">
                <td>{{rate.name}}</td>
                <td>{{rate.periodStart}}</span></td>
                <td>{{rate.periodEnd}}</td>
                <td>{{rate.price}}</td>
                <td>{{rate.cTimeFrom}}</td>
                <td>{{rate.cTimeTo}}</td>
                <td>
                    <span ng-show="rate.cMon">Mo </span>
                    <span ng-show="rate.cTue">Di </span>
                    <span ng-show="rate.cWed">Mi </span>
                    <span ng-show="rate.cThu">Do </span>
                    <span ng-show="rate.cFri">Fr </span>
                    <span ng-show="rate.cSat">Sa </span>
                    <span ng-show="rate.cSun">So </span>
                </td>
                <td>
                                <span ng-repeat="userGroupId in rate.cUserGroupIds">
                                    {{getUserGroupName(userGroupId)}}
                                </span>
                </td>
                <td>
                    <button type="button" ng-click="showSubscriptionRatePeriodForm(rate)" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                </td>
                <td>
                    <button type="button" ng-click="deleteSubscriptionRatePeriod(rate)" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-default" ng-click="showSubscriptionRatePeriodForm()">
            <span class="glyphicon glyphicon-plus"></span> Abo Tarif hinzufügen
        </button>

        <div ng-show="displaySubscriptionRatePeriodForm">
            <h3>Rate</h3>
            <form name="subscriptionRatePeriodForm" novalidate class="form-horizontal" role="form">
                <fieldset>
                    <legend>Basics</legend>
                    <div class="form-group">
                        <label for="spRateName" class="col-xs-1 control-label">Name</label>
                        <div class="col-xs-3">
                            <input id="spRateName" type="text" name="name" placeholder="name" ng-model="formSubscriptionRatePeriod.name"
                                   ng-trim="true" required my-focus-on="displaySubscriptionRatePeriodForm" class="form-control"/>
                            <span class="error" ng-show="subscriptionRatePeriodForm.name.$invalid && subscriptionRatePeriodForm.name.$dirty">Required!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Period -->
                        <label class="col-xs-1 control-label">Period</label>
                        <div class="col-xs-2">
                            Start
                            <div class="input-group">
                                <input type="text" name="periodStart" placeholder="01.01.2014" ng-model="formSubscriptionRatePeriod.periodStart"
                                       ng-trim="true" required ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.([0-9]{4})$/"
                                       class="form-control" data-date-format="dd.mm.yyyy" my-datepicker/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                            <span class="error" ng-show="subscriptionRatePeriodForm.periodStart.$error.required && subscriptionRatePeriodForm.cDateFrom.$dirty">Required!</span>
                            <span class="error" ng-show="subscriptionRatePeriodForm.periodStart.$error.pattern && subscriptionRatePeriodForm.cDateFrom.$dirty">Invalid Date format</span>
                        </div>
                        <div class="col-xs-2">
                            Ende
                            <div class="input-group">
                                <input type="text" name="periodEnd" placeholder="31.12." ng-model="formSubscriptionRatePeriod.periodEnd"
                                       ng-trim="true" ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.([0-9]{4})$/"
                                       class="form-control" data-date-format="dd.mm.yyyy" my-datepicker/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                            <span class="error" ng-show="subscriptionRatePeriodForm.periodEnd.$error.required && subscriptionRatePeriodForm.cDateTo.$dirty">Required!</span>
                            <span class="error" ng-show="subscriptionRatePeriodForm.periodEnd.$error.pattern && subscriptionRatePeriodForm.cDateTo.$dirty">Invalid Date format</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="spRatePrice" class="col-xs-1 control-label">Preis</label>
                        <div class="col-xs-3">
                            <input id="spRatePrice" type="text" name="price" placeholder="price" ng-model="formSubscriptionRatePeriod.price"
                                   ng-trim="true" required ng-pattern="/^[0-9]+\.?[0-9]*$/" class="form-control" />
                            <span class="error" ng-show="subscriptionRatePeriodForm.price.$invalid && subscriptionRatePeriodForm.price.$dirty">Required!</span>
                            <span class="error" ng-show="subscriptionRatePeriodForm.price.$error.pattern && subscriptionRatePeriodForm.price.$dirty">Invalid Number (please use . as comma separator)</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>contraints</legend>
                    <div class="form-group">
                        <!-- Zeit -->
                        <label class="col-xs-1 control-label">Zeit</label>
                        <div class="col-xs-1">
                            <label class="checkbox-inline">
                                anwenden <input type="checkbox" name="constrainTime" ng-model="formSubscriptionRatePeriod.constrainTime"/>
                            </label>
                        </div>
                        <div class="col-xs-2">
                            von
                            <div class="input-group">
                                <input type="text" name="cTimeFrom" placeholder="08:00" ng-model="formSubscriptionRatePeriod.cTimeFrom"
                                       ng-disabled="!formSubscriptionRatePeriod.constrainTime" ng-trim="true"
                                       ng-required="formSubscriptionRatePeriod.constrainTime"
                                       ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                                       class="form-control" data-show-meridian="false" data-minute-step="60" my-timepicker/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                            <span class="error" ng-show="subscriptionRatePeriodForm.cTimeFrom.$error.required && subscriptionRatePeriodForm.cTimeFrom.$dirty">Required!</span>
                            <span class="error" ng-show="subscriptionRatePeriodForm.cTimeFrom.$error.pattern && subscriptionRatePeriodForm.cTimeFrom.$dirty">Invalid Time format</span>
                        </div>
                        <div class="col-xs-2">
                            bis
                            <div class="input-group">
                                <input type="text" name="cTimeTo" placeholder="18:00" ng-model="formSubscriptionRatePeriod.cTimeTo"
                                       ng-disabled="!formSubscriptionRatePeriod.constrainTime" ng-trim="true"
                                       ng-required="formSubscriptionRatePeriod.constrainTime"
                                       ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9])$/"
                                       class="form-control" data-show-meridian="false" data-minute-step="60" my-timepicker/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                            <span class="error" ng-show="subscriptionRatePeriodForm.cTimeTo.$error.required && subscriptionRatePeriodForm.cTimeTo.$dirty">Required!</span>
                            <span class="error" ng-show="subscriptionRatePeriodForm.cTimeTo.$error.pattern && subscriptionRatePeriodForm.cTimeTo.$dirty">Invalid Time format</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-1 control-label">Wochentag</label>
                        <div class="col-xs-9">
                            <label class="checkbox-inline">
                                Mo <input type="checkbox" name="constrainTime" ng-model="formSubscriptionRatePeriod.cMon"/>
                            </label>
                            <label class="checkbox-inline">
                                Di <input type="checkbox" name="constrainTime" ng-model="formSubscriptionRatePeriod.cTue"/>
                            </label>
                            <label class="checkbox-inline">
                                Mi <input type="checkbox" name="constrainTime" ng-model="formSubscriptionRatePeriod.cWed"/>
                            </label>
                            <label class="checkbox-inline">
                                Do <input type="checkbox" name="constrainTime" ng-model="formSubscriptionRatePeriod.cThu"/>
                            </label>
                            <label class="checkbox-inline">
                                Fr <input type="checkbox" name="constrainTime" ng-model="formSubscriptionRatePeriod.cFri"/>
                            </label>
                            <label class="checkbox-inline">
                                Sa <input type="checkbox" name="constrainTime" ng-model="formSubscriptionRatePeriod.cSat"/>
                            </label>
                            <label class="checkbox-inline">
                                So <input type="checkbox" name="constrainTime" ng-model="formSubscriptionRatePeriod.cSun"/>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-1 control-label">User Gruppen</label>
                        <div class="col-xs-9 form-inline">
                                        <span ng-repeat="userGroupId in formSubscriptionRatePeriod.cUserGroupIds">
                                            {{getUserGroupName(userGroupId)}}
                                            <button class="btn btn-xs btn-default" ng-click="removeUserGroupFromSubscriptionRatePeriod(userGroupId)">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                        </span>
                            Add:
                            <select ng-model="userGroupToAdd" ng-options="g.name for g in userGroups" class="form-control input-sm"></select>
                            <button type="button" ng-click="addUserGroupToSubscriptionRatePeriod(userGroupToAdd)" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </div>
                    </div>
                </fieldset>

                <button type="submit" name="submit" class="btn btn-primary" ng-click="saveSubscriptionRatePeriod()" ng-disabled="subscriptionRatePeriodForm.$invalid">Speichern</button>
                <button type="button" class="btn btn-default" ng-click="hideSubscriptionRatePeriodForm()">Abbrechen</button>
            </form>
        </div>
    </div>

    </div>

    <div ng-show="showConfiguratorNavigation">
        <div class="spacer20"></div>
        <a href="#/configureCourts" class="btn btn-lg btn-default">Previous</a>
        <a href="#/configureDesign" class="btn btn-lg btn-primary">Next</a>
    </div>
</div>
